$fondo-contacto-pie: #2b2b2b;
$multitasking: #34495e;
$fondo-sub: #e68727;
$texto: #f7f7f7;
$subtitulos: #acb1b5;
$fondo-cabecera: #1fd1ac;
$resaltado-menu: #15846d;
$fondo-tiendaOnline: #e84c3f;
$fondo-marketing: #4b215b;
$fondo-posicionamiento: #f0c40f;
$fondo-capaPortfolio: #ecf0f1;
