@import "reset";



#contenedor{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url("img/fondo.jpg");
    background-size: cover;
    padding: 25px;

        #ralph{
        width: 300px;
        height: 500px;
        background-image: url("img/ralph.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border: 12px solid transparent;
        border-image-source: url("img/sello.png");
        border-image-slice: 33.33%;
        border-image-repeat: round;

        transform:rotate(10deg);
    }

    #milhouse{
        width: 300px;
        height: 400px;
        background-image: url("img/milhouse.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border: 12px solid transparent;
        border-image-source: url("img/sello.png");
        border-image-slice: 33.33%;
        border-image-repeat: round;
    }

    #flanders{
        width: 300px;
        height: 450px;
        background-image: url("img/flanders.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border: 12px solid transparent;
        border-image-source: url("img/sello.png");
        border-image-slice: 33.33%;
        border-image-repeat: round;

        transform:rotate(-10deg);
    }

    #nelson{
        width: 300px;
        height: 500px;
        background-image: url("img/nelson.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border: 12px solid transparent;
        border-image-source: url("img/sello.png");
        border-image-slice: 33.33%;
        border-image-repeat: round;

        transform:rotate(10deg);
    }
}
