@import "reset";


@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
}

$color-letra: #FFFFFE;
$color-fondo: #808080;
$color-boton: #D0BFBF;
$espacio-base:1rem;
$bordes: solid 2px #000;
$fuente-principal: "Roboto", "Arial", "sans-serif";

body{
    padding: $espacio-base;

    .contenedor{
    display: flex;
    justify-content: space-between;
    background-color: $color-fondo;
    padding: $espacio-base;
    border: $bordes;
    width: 50%;

        input[type="submit"]{
        background-color:$color-boton;
        color: $color-letra;
        padding: $espacio-base;
        border: $bordes;
        font-family: $fuente-principal;
        font-weight: bold;
        }

        input[type="submit"]:hover{
        background-color:$color-fondo;
        }

    }
}


