@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto.ttf");
}


$color-lados: #432a47;
$color-subtitulos: #C4903E;
$color-fondo: #D85A1A;
$color-header: #E9C46A;
$color-fuente: #202020;
$color-letras: #f0f0f0;

$fuente-principal: "Roboto", "Arial", "sans-serif";
$fuente-titulo: "Chewy";
$espacio-base: 1rem;

//Color de todas las tiras
$estilo-hippie: #9A2F1E;
$estilo-mod: #0d240b;
$estilo-psicodelico: #4f3b4c;
$estilo-alta-costura: #edc1a8;
$estilo-elegante-hombre: #816557;
$peinado-mujer: #bfab84;
$accesorios: #1b1a15;
$peinado-hombre: #15323F;
$gafas: #CD0803;
$bolso: #6B8BA2;
$coche: #03715E;
$zapatos-mujer: #342823;

body {
  font-family: $fuente-principal;
}

#contenedor {
  background-color: $color-lados;
  display: flex;
  flex-direction: column;

}

header {
  padding: $espacio-base;
  background-color: $color-header;
  text-align: center;
  color: $color-letras;

  h1 {
    text-transform: uppercase;
    font-size: $espacio-base*4;
    letter-spacing: $espacio-base;
    font-family: "Chewy";
  }

}

main {
  display: flex;
  justify-content: center;

  #galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 85%;
    background-color: $color-fondo;
    gap: $espacio-base*2;
    padding: $espacio-base;

    .tira {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 20%;
      border: 2px solid #15141473;
      border-radius: 4px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.678);
      color: $color-fuente;
      transition: transform 0.4s ease, box-shadow 0.4s ease;

      &:hover {
        transform: scale(1.06);
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.788);
      }


      div {
        display: flex;
        height: 50vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        text-align: center;
        font-size: $espacio-base*3;
        font-family: $fuente-titulo;
        height: 25vh;
        color: $color-letras;
        padding-bottom: $espacio-base*1.5;
      }

      .subtitulo {
        background-color: $color-subtitulos;
        align-self: stretch;
        padding: $espacio-base;
        text-align: center;
      }
    }
  }
}

footer {
  background-color: $color-header;
  display: flex;
  justify-content: center;
  padding: $espacio-base;
}


//Colores de las tiras

.tira.hippie h1 {
  background-color: $estilo-hippie;
}

.tira.mod h1 {
  background-color: $estilo-mod;
}

.tira.psicodelica h1 {
  background-color: $estilo-psicodelico;
}

.tira.alta-costura h1 {
  background-color: $estilo-alta-costura;
}

.tira.hombre-elegante h1 {
  background-color: $estilo-elegante-hombre;
}

.tira.peinado-mujer h1 {
  background-color: $peinado-mujer;
}

.tira.peinado-hombre h1 {
  background-color: $peinado-hombre;
}

.tira.gafas h1 {
  background-color: $gafas;
}

.tira.bolso h1 {
  background-color: $bolso;
}

.tira.zapatos-mujer h1 {
  background-color: $zapatos-mujer;
}

.tira.coche h1 {
  background-color: $coche;
}