@import "reset";

$color-fondo:#BFC1D0;
$ancho: 480px;
$alto-icono:105px;
$ancho-icono: 104px;

div{
    background-color: $color-fondo;
    border: 2px solid black;
    display: flex;
    width: $ancho;
    align-items: center;
    padding: 1rem;
    gap: 10px;

        a{
        width: $ancho-icono;
        height: $alto-icono;
        background-image: url("img/sprite.png");
        background-repeat: no-repeat;
        transition: background-position 0.3s;

            &#facebook{
                background-position: 0 0;

                &:hover{
                     background-position: 0 (-$alto-icono);
                }
            }

            &#twitter{
                 background-position: -$ancho-icono 0;

                &:hover{
                     background-position: -$ancho-icono (-$alto-icono);
                }
            }

            &#youtube{
                background-position: -$ancho-icono*2 0;

                &:hover{
                    background-position: -$ancho-icono*2 (-$alto-icono);
                }
            }

            &#flickr{
                background-position: -$ancho-icono*3 0;

                &:hover{
                    background-position: -$ancho-icono*3 (-$alto-icono);
                }
            }
    }
}