@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
$color-fondo:#F5F3EE;
$color-fondosecundario:#D1BFA3;
$color-titulo:#1E3A5F;
$color-texto:#2C2C2C;
$color-sombras:#1E3A5F;
$color-secundario:#3C7A89;
$color-fondotitulo:#E8D4B8;

body{
    background-color: $color-secundario;
    display: flex;
    justify-content: center;
}
#contenedor{
    background-color: $color-fondosecundario;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-basis: 80%;
    height: 100vh;
}
#articulo{
    background-color: $color-fondo;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    flex-basis: 25%;
    flex-grow: 0;
    box-shadow: 0 0 1rem rgba($color-sombras, 0.5);
}
#articulo .imagen{
    display: flex;
    flex-basis: 85%;
    img{
        width: 100%;
        border-radius: 0.2rem;
    }
}
#articulo h1{
    font-family: "Playfair Display";
    color: $color-titulo;
    font-size: xx-large;
    background-color: $color-fondotitulo;
    padding: 0.2rem;
}
#articulo p{
    font-family: "Lato";
    color: $color-texto;
    font-size: small;
    padding: 0.5rem;
}