@import "reset";

$ancho-caja:100px;
$alto-caja:100px;

#contenedor{
    display: flex;
    align-items: flex-end;
    gap: 20px;

    #cairo{
        background-image: url("../css/img/cairo.png");
        width: $ancho-caja;
        height: $alto-caja;
        border: 3px solid black;
        /*border-top-left-radius: 50%;
        border-top-right-radius: 50%;*/
        border-radius: 50% 50% 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #fad73f;
    }

    #pascua{
        background-image: url("../css/img/pascua.png");
        width: $ancho-caja/2;
        height: $alto-caja*2;
        border: 3px solid black;
        background-size: 100% 100% ;
        background-repeat: no-repeat;
    }


    #rio {
        background-image: url("../css/img/rio.png");
        width: $ancho-caja;
        height: $alto-caja;
        border: 3px solid black;
        background-size: 50%, 50%;  
        background-repeat: no-repeat;
        background-color: #acff01;
    }


    #italia {
        background-image: url("../css/img/italia.png");
        width: $ancho-caja/2;
        height: $alto-caja/2;
        border-radius: 100%;
        border: 3px solid black;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #acff03;
    }
}