#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: $espacio-base*2;
    gap: $espacio-base*2;

    #contenido-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $espacio-base/2;

        .titulo {
            color: $color-textos;
        }

        .intro {
            color: $color-subtitulos;
        }

    }

    button {
        border: 2px solid $color-textos;
        border-radius: 6px;
        padding: 0.5rem $espacio-base*1.5;
        color: $color-textos;
        transition: transform 0.5s ease;

        &:hover {
            color: $color-textos-contacto;
            background-color: $color-textos;
            transform: rotateX(360deg);
        }
    }
}