#datos-contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-fondo-superior;
    color: $color-textos-contacto;
    padding: $espacio-base/2;

    .social {
        display: flex;
        gap: $espacio-base;
        flex-basis: 10%;

        a {
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.3;
            }
        }

        img {
            width: 100%;
        }

    }

}