
//Colores
$color-fondo-superior:#2B2B2B;
$color-textos:#34495E;
$color-fondo:#E68727;
$color-textos-contacto:#F7F7F7;
$color-subtitulos:#ACB1B5;
$color-cabecera:#1FD1AC;
$color-hover-menu:#15846D;
$color-fondo-tiendas:#E84C3F;
$color-fondo-marketing:#4B215B;
$color-fondo-posicionamiento:#F0C40F;
$color-fondo-portfolio:#ECF0F1;

//Tipografía
@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
}

$tipografia-pagina: "Lato", "Arial", "sans-serif";
$tipografia-logo: "Lobster", "Arial", "sans-serif";

//Espacios
$espacio-base: 1rem;
$espacio-medio:6rem;
$espacio-grande: 10rem;